* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      background-color: #212121;
      color: #fff;
}
h1 {
      font-size: 38px;
}
section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 60%;
      margin: 0 auto;
}
section > .parent-div {
      display: flex;
      gap: 10px;
      padding: 10px;
      background-color:#bbb3b3;
      flex-wrap: wrap;
      border-radius: 7px;
}
section > .parent-div > .project {
      background-color: rgb(22, 200, 140);
      padding: 5px;
      border-radius: 7px;
      color: #000;
}