@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f2f5;
}

.heading {
  color: #1877f2;
  font-size: 55px;
  margin-bottom: 12px;
}
p{
  font-size: 20px;
  font-weight: 300;
  word-spacing: 2px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  min-height: 80vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px;
}

form {
  padding: 20px;
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  border-radius: 7px;
}
form input{ 
  padding-left: 10px;
  width: 372px;
  margin-bottom: 10px;
  height: 55px;
  border-radius: 6px;
  border: 1px solid #766e6e;
}
.link a{
  text-decoration: none;
  text-align: center;
  color:#1877f2;
  font-weight: 400;
  letter-spacing: 0.5px;
}

hr {
  margin: 20px  auto 20px auto;
  border: 0;
  border-bottom: 1px solid #766e6e;
  width: 272px;
}

.link .log-in {
  width: 372px;
  border: 0;
  padding: 10px;
  height: 55px;
  display: block;
  color: #fff;
  background-color: #1877f2;
  border-radius: 7px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 17px;
}

.button1, .button2 {
  display: flex;
  justify-content: center;
}

.Create-new {
  background-color: #42b72a;
  border: 0;
  outline: 0;
  color: #f0f2f5;
  font-weight: 600;
  height: 45px;
  padding: 10px;
  border-radius: 7px;
  font-size: 17px;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .heading {
    text-align: center;
  }
}

@media (max-width: 520px) {
  .text {
    display: inline-block;
    max-width: 400px;
  }
}